{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Fixed Navbar Layout</title>

    {% include '_partials/_css_padrao.html' %}
</head>

<body class="hold-transition sidebar-mini layout-navbar-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        {% include '_partials/_navbar_fixed_topnav.html' %}

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="../../index3.html" class="brand-link elevation-4">
                <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
                    class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">AdminLTE 3</span>
            </a>

            <!-- Sidebar -->
            {% include '_partials/sidebar.html' %}
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% include '_partials/_cabecalho_pagina_fixedtopnav.html' %}

            <!-- Main content -->
            {% block content %}


            {% endblock content %}
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        {% include '_partials\_footer.html' %}

    </div>
    <!-- ./wrapper -->
    {% include '_partials\_js_padrao.html' %}

</body>

</html>